apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: emailservice-helmrelease
  namespace: microservices-demo
spec:
  releaseName: emailservice
  targetNamespace: microservices-demo
  interval: 5m
  chart:
    spec:
      chart: ./charts/microservice
      version: "0.1.1"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 1m
  values: 
    service:
      name: emailservice
      type: ClusterIP
      selectors:
        app: emailservice
      port: 5000
      targetPort: 8080
    deployment:
      name: emailservice
      labels:
        app: emailservice
      matchLabels:
        app: emailservice
      container:
        name: server 
    image: gcr.io/google-samples/microservices-demo/emailservice:v0.8.0
    ingress: 
      name: email-ingress
      path : "/email"
      path_type: Prefix    
    env:
    - name: PORT
      value: "8080"
    - name: DISABLE_PROFILER
      value: "1"  
