apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name  }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
       {{- with .Values.deployment.labels }}
    {{- toYaml . | nindent 6 }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- with .Values.deployment.labels }}
    {{- toYaml . | nindent 8 }}
  {{- end }}
    spec:
    {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "demo-project.serviceAccountName" . }}
    {{- end }}
      containers:
        - name: {{ .Values.container.name}}
          image: {{ .Values.image }}
          ports:
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
